.env
.git
*.csv
*.dump

coverage

data
data/
data/*
data/**

log
log/
log/*
log/**

node_modules
node_modules/
node_modules/*
node_modules/**

/node_modules
/node_modules/
/node_modules/*
/node_modules/**

vendor
vendor/
vendor/*
vendor/**

/vendor
/vendor/
/vendor/*
/vendor/**

# /tmp
# /tmp*
tmp
tmp/
tmp/*
tmp/**

crane*.y*l
crane.yml

.git
.git/**
.github/
.github/**
.gitignore

.dockerignore
*.yml
*.md

docker-compose*
crane.*
Dockerfile*
Dockerfile
Gopkg.*

shared/data
shared/data/
shared/data/*
shared/data/**

shared/dumps
shared/dumps/
shared/dumps/*
shared/dumps/**

shared/logs
shared/logs/
shared/logs/*
shared/logs/**


